.container {
    overflow-x: hidden;
}
.services {
    height: 596px;
    background: var(--mega-law-dark);
}
.our_services {
    font-size: 64px;
}
.card {
    border: 0.5px solid #7070703E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.card p{
    font-size: 14px;
}

.btn {
    background: var(--mega-law-tomato) !important;
    border-radius: 0 !important;    
  }

  @media (max-width: 992px) {
      .our_services {
          font-size: 44px;
      }
      .h_200 {
          height: 300px !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  @media (max-width:768px) {
    .services {
        height: 650px;
        margin-bottom: 12rem;
    } 
    .our_services {
        font-size: 44px;
    } 
  }