.parent {
  z-index: 1000 !important;
}
.z-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 75vh;
  width: 50vw;
  transform: translate(45%, 15%);

}

@media (max-width: 576px) {
  .z-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 80vh;
    transform: translate(6%, 15%);
  }
}
