.hero {
    background: var(--mega-law-ash);
}
.aboutHero {
    height: 460px;
    background: url(../../public/img/dot.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    background-color: var(--mega-law-dark);  
}
.about {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.about h2 {
  font-size: 50px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.btn {
    background: var(--mega-law-tomato) !important;
    border-radius: 0 !important;
    width: 280px;
    height: 75px;
  }
  .got_issue {
    font-size: 12px;
  }

  .img {
    position: absolute;
    top: 0;
    margin-top: 20px;
    margin-left: -20px;
  }

  .img_bg {
    background: var(--mega-law-tomato);
    opacity: 0.1;
    width: 425px;
    height: 425px;
  }
.team_title {
    position: relative;
    z-index: 0;
    
}
.team_title {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: transparent linear-gradient(180deg, #0A0F1400 0%, #05070900 54%, #000000 100%) 0% 0% no-repeat padding-box;
}
.slider {
  overflow-x: hidden;
}
  @media (max-width: 576px) {
    .img {
        position: absolute;
        top: 0;
        margin-top: 20px;
        margin-left: 0px;
        max-width: 100%;
        /* margin: auto 10px; */
      }
      .img_bg {
        background: var(--mega-law-tomato);
        opacity: 0.1;
        max-width: 95vw;
        height: 400px;
      }
  }