@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --mega-law-dark: #0a0f14;
  --mega-law-tomato: #ff5057;
  --mega-law-ash: #f0f0f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.tomato-bg {
  background: var(--mega-law-tomato) !important;
}
.ash-bg {
  background: var(--mega-law-ash) !important;
}
.tomato-color {
  color: var(--mega-law-tomato);
}
.mega-law-muted {
  color: var(--mega-law-dark);
  opacity: 0.4;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
}
.fs-16 {
  font-size: 16px;
}
.h_60 {
  height: 60vh;
}
.mt_4 {
  margin-top: 4rem;
}
a {
  text-decoration: none !important;
}
.collapse-nav {
  background: var(--mega-law-dark) !important;
}
.slider {
  overflow-x: hidden;
}
.slider-mx-2 {
  padding-left: 1rem !important;
}
.switch {
  cursor: pointer;
}
#tsparticles canvas {
  position: absolute !important;
  top: 0;
  height: 5vh !important;
}
#ts > canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0px !important;
  left: 0px !important;
  pointer-events: initial;
}
.flex {
  word-spacing: nowrap;
}

.author_image {
  width: 60px !important;
  height: 60px !important;
}
@media (min-width: 992px) {
  .nmb-2 {
    margin-top: -1.2rem;
  }
}
@media (max-width: 992px) {
  .our-services-height {
    height: 200px;
  }
}
@media (max-width: 500px) {
  .nmt-2 {
    margin-top: -3rem !important;
  }
}
@media (device-width: 912px) and (device-height: 1368px) {
  .h_60 {
    height: 40vh;
  }
}
@media (device-width: 320px) and (device-height: 568px) {
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.05) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.05) !important;
    margin-top: var(--bs-gutter-y);
  }
}
@media (device-width: 280px) and (device-height: 653px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    overflow-x: hidden;
    padding-left: 0.2rem !important;
  }
}
