@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --mega-law-dark: #0A0F14;
    --mega-law-tomato: #FF5057;
    --mega-law-ash: #F0F0F0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.tomato-bg {
    background: var(--mega-law-tomato) !important;
}
.tomato-color {
    color: var(--mega-law-tomato);
}
.mega-law-muted {
    color: var(--mega-law-dark);
    opacity: .4;
}
input::placeholder {
    font-family: 'Poppins', sans-serif;
}
.fs-16 {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.collapse-nav {
    background: var(--mega-law-dark) !important;
}
#tsparticles canvas {
    position: absolute !important;
    top: 0;
    height: 5vh !important;
}
 #ts > canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: -1 !important;
    top: 0px !important;
    left: 0px !important;
    pointer-events: initial;
}
@media (min-width:992px) {
    .nmb-2 {
        margin-top: -1.2rem;
    }
}